.searchItem {
    border: 1px solid rgb(15, 15, 15);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 450px;
    background-color: rgb(231, 223, 229);
   
}

.button{
    margin-top: 1rem;
    align-items: center;

}

.form{
    margin-top: 2rem;
}

.label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.siTitle{
    margin-top: 0.5rem;
    font-size: 25px;
    font-weight: bold;
}